---
title: About Me
---
<div class="content">
            <div id="bio" >
              <p>
                I am a Professor in the Department of Computer Science and Engineering at The Ohio State University.
                    I lead the <strong>Architecture Research Lab</strong>.
                    Our research interests include computer architecture, energy efficient computing, security and reliability.
                    <br/>
                    <br />I was born in 
                    <a href="http://en.wikipedia.org/wiki/Cluj-Napoca">Cluj-Napoca</a>
                    , in the beautiful province of 
                    <a href="http://www.visittransilvania.ro/">Transilvania</a> 
                    in Romania 
                    I received an Engineer Diploma from the 
                    <a href="http://www.utcluj.ro/">Technical University of Cluj-Napoca</a> in 2002.<br />
                    <br />I received my Ph.D. from the 
                    <a href="http://www.cs.uiuc.edu/">Department of Computer Science</a>, 
                    <a href="http://www.uiuc.edu/">University of Illinois at Urbana-Champaign</a> 
                    where I was a member of the 
                    <a href="http://iacoma.cs.uiuc.edu/">IACOMA</a> 
                    group working with Prof. Josep Torrellas
                    I was the recipient of the Ohio State CSE Department Teaching Award in 2021, the Lumley Award 
                    in 2014, an NSF CAREER award 
                    in 2012, 
                    <a href="http://www.intel.com/content/www/us/en/education/university/intel-phd-fellowship-program.html">Intel Foundation Fellowship</a> 
                    for 2007-2008 and the 
                    <a href="http://cs.illinois.edu/csillinois/awards#2007-2008">W. J. Poppelbaum Award</a> for 2008. 
                    <br />We were proud to help organize
                    <a href="https://www.microarch.org/micro52/"> MICRO-52 in Columbus, Ohio</a> 
                    in October 2019. <br /> <br />
                    I am looking for bright and motivated students to join my research group. For more details and research updates,
                    please visit my group's website by clicking on the image at the bottom of the page.
                    If you are interested in working with us send me an email or drop by my office. <br /><br />
              </p>
            </div>
            <div id="self-image">
                <img class="imageStyle" alt="Photo of Dr. Teodorescu" src="images/pict0101-2.jpeg" width="288" height="216" />
            </div>
</div>
