---
title: Technical Reports
---

<div class="content">
  <h3>Technical Reports</h3>
  <p><br/>
  Shimin Chen, Babak Falsafi, PB Gibbons, M Kozuch, TC Mowry, R Teodorescu, A Ailamaki, L Fix, GR Ganger, SW Schlosser: <br/><strong><a href="http://www.cse.ohio-state.edu/~teodores/download/papers/IRP-TR-06-05.pdf"> Logs and lifeguards: Accelerating dynamic program monitoring</a></strong>,<br/>Technical Report IRP-TR-06-05, Intel Research Pittsburgh, May 2006
  <br/></p>

  <p><br/>
    Nedevschi, S., Salomie, I., Nedevschi, S., Jr., Gyongyi, Z. and Teodorescu, R.:<br/>
    <strong>DICOM Compatible Distributed System for Medical Image Acquisition, Processing, Storage, and Retrieval in Hospital Environments</strong>,<br/>TR 34970/2001, Technical University of Cluj-Napoca, Romania
    <br/></p>

  <p><br/>
  Nedevschi, S., Pusztai, K., Cret, O., Nedevschi, S., Jr., Gyongyi, Z., Teodorescu, R. and Balaban, R.:<br/>
  <strong>Research and Application Development in the Domains of Reconfigurable Architectures and Rapid Prototyping</strong>,<br/>TR 37118/2000, Technical University of Cluj-Napoca, Romania
  <br/></p>

  <p><br/>
    Nedevschi, S., Pusztai, K., Cret, O., Nedevschi, S., Jr., Gyongyi, Z. and Teodorescu, R.:<br/>
    <strong>Research in the Domain of Reconfigurable Architectures, Development of Teaching Aids and Demonstrative Materials</strong>,<br/>TR 33830/1999, Technical University of Cluj-Napoca, Romania
  <br/><br/></p>
</div>
