---
title: Theses
---

<div class="content">
  <h3>Ph.D Thesis</h3>
  <p>
  <strong>Multilayer Techniques to Address Parameter Variation</strong>, University of Illinois at Urbana-Champaign, October 2008. Josep Torrellas, advisor.
  <br/><br/></p>

  <h3>Master's Thesis</h3>
  <p>
  <strong> <a href="http://web.cse.ohio-state.edu/~teodorescu.1/download/papers/teodorescu-MS-thesis.pdf">Prototyping Architectural Support for Program Rollback Using Programmable Logic</a></strong>, University of Illinois at Urbana-Champaign, May 2005. Josep Torrellas, advisor. Winner of the David J. Kuck Outstanding Thesis Award.
  <br/><br/></p>
  <h3>Engineer Diploma Thesis</h3>
  <p>
  <strong>DICOM Compliant Structured Reports - Encoding and Communication</strong>, Technical University of Cluj-Napoca, June 2002. Sergiu Nedevschi, advisor.
  <br/><br/></p>
</div>
