---
title: Tools
---

<div class="content">
  <h3>VARIUS - Process Variation Model</h3>
  <p><br/>
    Parameter variation poses a major challenge to high-performance microprocessor design, negatively impacting a processor’s frequency and leakage power. To study the impact of variation, as well as stimulate the development of microarchitectural solutions to reduce its impact, we developed a microarchitecture-level model for process variation.<br/><br/>
    The current version of the model is <a href="http://www.cse.ohio-state.edu/~teodores/download/tools/varius-v0.1.tar.gz">VARIUS-v0.1</a>
  <br/><br/></p>
</div>
