// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


h1, h2 {
    font-family: "Lucida Console", "Courier New", monospace;
}


  

  

  #nav_bar {
    background-image: linear-gradient(to right, firebrick, lightgrey);
    padding: 3px;
    border: outset;
    border-width: 8px;
    border-color: lightgrey;
    border-radius: 10px;

    div.site_title {
        color: white;
        padding-left: 20px;
    }

    ul{
        background-image: linear-gradient(to right, firebrick, lightgrey);
    }

    .signout_link li{
      float:right;
    }

    li{
        display: inline;
        
        border: inset;
        border-width: 4px;
        border-radius: 20px;
        padding: 5px;
        margin-right: 10px;
        background-color: lightgrey;
    
        a {
            text-decoration: none;
            color: firebrick;
        }
      }
  }
  
#user_home{
    display: grid;
    grid-template-areas: ". header header"
                         "teams todo todo"
                         "teams todo todo";
    grid-template-columns: auto 1fr 1fr;

    div.user_header{
      grid-area: header;
    }

    div.user_teams_list{
      grid-area: teams;
      border-right: inset;

      table td{
        border-style: outset;
        border-radius: 20px;
        
        background-color: lightgrey;
        
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;

        a {
        	text-decoration: none;
        	color: firebrick;
        }
      }
      
    }

    div.user_todo_list{
      grid-area: todo;
      border-top: inset;
      padding-left: 60px;
      padding-top: 30px;
            
      .todo_display_element {
        display: grid;
        grid-template-columns: auto auto;
        border: inset;
        border-radius: 20px;
        border-width: 5px;
        justify-items: center;
        align-items: center;
        width: 700px;
        margin-left: 100px;
        
        background-image: linear-gradient(to right, firebrick, lightgrey);
        
        a {
            border: inset;
            border-radius: 20px;
            padding: 10px;
            background-color: lightgrey;
            text-decoration: none;
            color: firebrick;
          }
      }


    }


}





  

  

