<div id="page-footer">
            <div id="email-address">
               <p>
                    <strong>Email</strong><br/>teodores@cse.ohio-state.edu
               </p>
            </div>
            <div id="office">        
               <p>
                    <strong>Office</strong><br/>797 Dreese Labs<br/>2015 Neil Ave<br/>Columbus, OH, 43210
               </p>
            </div>
            <div id="archlab-image">
                <a href="http://www.cse.ohio-state.edu/~teodores/arch/index.html"><img class="imageStyle" alt="" src="images/arch_logo_red_small.jpeg" width="300" height="100" /></a>
            </div>
</div>
