<div id="page-header">
  <div>
    <img src="images/BlockO-RGBHEX.jpeg" width="72" height="95" alt="Block O"/>
  </div>
  <div>
    <h1>Radu Teodorescu</h1>
    <h2>The Ohio State University</h2>
  </div>
</div>
